/* dark主题 */
:root[theme='dark'] {
    --bg-color: #0d1117;
    --text-color: #f0f6fc;
    --aside-menu-color: #0d1117;
    --aside-bg-color: #0d1117;
    --svg-filter: invert(50%);
}

svg {
    filter: var(--svg-filter);
}
/* light主题 */
:root[theme='light'] {
    --bg-color: white;
    --text-color: #181818;
    --aside-menu-color:#E5E5E5;
    --aside-bg-color: ;
    --svg-filter: invert(0%);
}
.el-menu-vertical-demo {
    background: var(--aside-menu-color);
    border-radius: 10px;
    /*background-color: var(--aside-menu-color);*/
    height: 100vh;
}
.aside-color{
    background : var(--aside-bg-color);
    border-radius: 10px;
}
